name: build
on:
  push:
    branches:
    - "main"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    # Checkout coredns
    - name: checkout nope
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        path: nope
    - name: checkout coredns
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: coredns/coredns
        ref: 5cf4c80ac0dacb271cc5d916b3d152e86a4831e4
        path: coredns
    - name: copy plugin.cfg
      run: cp nope/build/plugin.cfg coredns/plugin.cfg
    - name: use current nope
      run: cd nope/ && go mod edit -replace=github.com/pfcm/nope=../nope
    - name: build coredns
      run: cd coredns && make
    - name: docker login
      uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
    - name: docker build and push
      uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
      with:
        context: coredns
        tags: pfcm/coredns-nope:${{ github.sha }}
        push: true
