name: go-test
on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: 1.25
    - name: test
      run: go test -v ./...
    - name: test race
      run: go test -race -v ./...
